<link rel="stylesheet" class="aplayer-secondary-style-marker" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css"><script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js" class="aplayer-secondary-script-marker"></script><script class="meting-secondary-script-marker" src="\assets\js\Meting.min.js"></script>@font-face {
    font-family: 'YOUSHEhaoshenti';
    src: url('YOUSHEhaoshenti.woff2') format('woff2'),
        url('YOUSHEhaoshenti.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

<link rel="stylesheet" href="/css/spoiler.css" type="text/css"><script src="/js/spoiler.js" type="text/javascript" async></script>